<div id="<%= dom_id user %>">
  <p>
    <strong>姓名:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>年齡:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>頭貼:</strong>
    <%= image_tag user.avatar if user.avatar.attached? %>
  </p>

</div>
